# Ignore virtual environment directories
venv/

# Ignore OpenAI API key files
open-ai.txt

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore local configuration files
*.local

# Ignore history and config files
.jha/

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp
.DS_Store

publish.sh
PyPI-Recovery-Codes.txt
PUBLISHING_GUIDE.md

dist/ 
build/ 
*.egg-info/
